src/content/post/*.md
src/playlists.yaml

# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# package-lock.json - Commit this file because it is required by the `withastro` github action
pnpm-lock.yaml

.astro