---
// Audio/Video toggle control for MultiPlayer.
// See MultiPlayer.astro
---
<label class="inline-flex items-center cursor-pointer">
    <input id="multiplayerav" type="checkbox" class="sr-only peer">
    <span class="peer mr-2 text-sm font-bold peer-checked:font-normal">Audio</span>
    <div class="relative w-11 h-6 bg-black rounded-full
      peer peer-focus:ring-1 peer-focus:ring-black-300 dark:peer-focus:ring-blue-800
      dark:bg-gray-700
      peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white
      after:content-[''] after:absolute after:top-0.5 after:start-[2px]
      after:bg-white after:border-gray-300 after:border after:rounded-full
      after:h-5 after:w-5 after:transition-all dark:border-gray-600">
    </div>
    <span class="peer ml-2 text-sm peer-checked:font-bold">Video</span>
</label>
<script is:inline>
    document.getElementById("multiplayerav").checked = true;
</script>
